.page-header {
  border-bottom: 1px solid #ececec;

  min-height: 60px;
}
.page-header__container {
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    min-height: 60px;
  }
}
.page-header .link {
  display: block;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    
  }
}
.page-hader__nav {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-left: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
