.page-footer {
  padding-bottom: 60px;
  padding-top: 60px;
  color: var(--alt-text-cl);
  background-color: var(--dark-bg);
}
.page-footer__logo {
  margin-bottom: 20px;
  color: var(--alt-text-cl);
}
.page-footer__container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   @media screen and (max-width: 767px) {
//     flex-direction: column;
//   }
  @media screen and (min-width: 1200px) {
   align-items: baseline;
//     flex-wrap: nowrap;
//   }
// }

.page-footer__contacts {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.page-footer__item a {
  display: inline-block;
}

.page-footer__item {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.page-footer__item:last-child {
  margin-bottom: 0;
}

.page-footer__item .contacts {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0;
}
.page-footer__social-links {
  display: flex;

  flex-direction: column;
  margin-bottom: 60px;
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 105px;
  }
}
.page-footer__slogan {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
// .page-footer__block{
//   @media screen and (min-width: 1200px) {
//     flex-wrap: wrap;
//   }
// }