.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  display: flex;
  align-items: center;
}
.page-header .link {
  display: block;
}
.nav {
  display: flex;
  align-items: center;
}
.page-hader__nav {
  display: flex;
  align-items: center;
}
