.page-footer {
  padding-bottom: 60px;
  padding-top: 60px;
  color: var(--alt-text-cl);
  background-color: var(--dark-bg);
}

.page-footer__logo {
  margin-bottom: 20px;
  color: var(--alt-text-cl);
  @media screen and (min-width: $tablet) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 0;
  }
}
// .page-footer__contacts .logo{

// }
/*  display: flex;
   align-items: center;
  justify-content: center;
   flex-wrap: wrap;*/
.page-footer__container {
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }
}
.page-footer__item a {
  display: inline-block;
}

.page-footer__item {
  display: block;
  justify-content: center;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.page-footer__item:last-child {
  margin-bottom: 0;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $desktop) {
    align-items: flex-start;
  }
}
.page-footer__item:nth-last-child(-n + 2) {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__social-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 60px;
  margin-top: 60px;

  @media screen and (min-width: $tablet) {
    margin-left: 165px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    align-items: flex-start;
  }
}
.page-footer__slogan {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.page-footer__block {
  flex-direction: column;
  @extend%flex-centered;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: baseline;
  }
  @media screen and (min-width: $desktop) {
    justify-content: left;
  }
}
