a span {
  color: var(--accent-cl);
}
.logo {
  display: inline-block;
  font-size: 24px;
  line-height: 1.17;

  color: var(--main-text-cl);

  font-style: normal;
  font-weight: bold;
  font-family: var(--title-font);
  letter-spacing: 0.03em;

  @media screen and (min-width: 1199px) {
    font-size: 26px;
    line-height: 1.18;
    margin-right: 93px;
  }
}
