.menu__link {
  display: inline-block;
  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu-button {
  display: inline-flex;
  z-index: 9;

  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu__container {
  @media screen and (max-width: 479px){
min-width:320px;
padding: 20px 28px;

}
  @media screen and (max-width: 767px) {
    position: fixed;
    background-color: #fff;
    
    z-index: 7;
    min-width: 480px;

    height: 100vh;
    padding: 40px 48px;
    display: none;
  
    top: 0;
     right: auto;
     left: auto;
   
    overflow-y: scroll;

    &.is-open {
      position: fixed;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
     justify-content: space-between;
      top: 0px;
     
     right: auto;
     left: auto;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-grow: 1;
    height: 80px;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    height: 80px;
    width: 100%;
    justify-content: space-between;
  }
}
.menu__item {
  position: relative;
}
.current {
  color: var(--accent-cl);
}
.current::after {
  display: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    bottom: -1px;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: var(--accent-cl);
  }
}

.menu__item {
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  // @media screen and (max-width: 767px) {
  //   &:last-of-type {
  //     margin-bottom: 306px;
  //   }
  // }
  @media screen and (min-width: $tablet) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-bottom: 0;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: $desktop) {
    .menu__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.menu__social {
  @media screen and (max-width: 767px) {
    display: flex;
    
    justify-content: space-between;
   
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu__social-item {
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
     margin-right: 20px;
    // padding-right: 10px;
    // border-right: 1px solid rgba(33, 33, 33, 0.2);
    // &:nth-last-child {
    //   border-right: none;
    //   padding-right: 0;
    // }
  }
}

  @media screen and (max-width: 767px) {
    .menu__social-item{
      position: relative;
    }
    .menu__social-item:not(:last-child)::after {
      content: "";
      display: inline-block;
      margin-left: 10px;
      // margin-right: 10px;
      height: 22px;
      width: 1px;
      top: 0;
      left: 100%;
      position: absolute;
      background: var(--accent-cl)
    }
  }


.menu__social-item {
  color: var(--accent-cl);
}
