.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.btn-menu {
  display: inline-flex;
}
.btn-menu .icon-close {
  display: none;
}
.btn-menu.is-open .icon-close {
  display: block;
}

.btn-menu.is-open .icon-menu {
  display: none;
}
.menu__item {
  position: relative;
}
.current {
  color: var(--accent-cl);
}
.current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: var(--accent-cl);
}

.menu__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
