.page-title {
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
