.page-title {
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.62;
  }
}
.section__title {
  letter-spacing: 0.03em;

  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
