:root {
  --main-text-cl: #212121;
  --secondary-text-cl: #757575;
  --social-icons: #afb1b8;
  --accent-cl: #2196f3;
  --alt-text-cl: #ffffff;
  --secondary-ac-cl: #188ce8;

  --main-bg: #ffffff;
  --section-bg: #f5f4fa;
  --dark-bg: #2f303a;
  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
$overlay-color: rgba(47, 48, 58, 0.4);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);